<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">
    <label (dblclick)="editName(0)" *ngIf="editingName==false">{{event.name}}</label>
    <input class="edit" type="text" [formControl]="txtInput" *ngIf="editingName==true" (blur)="save()" #inputControl>
  </div>

  <div class="card-body text-success">
    <label (dblclick)="editName(1)" *ngIf="editingDescription==false">{{event.description}}</label>
    <input class="edit" type="text" [formControl]="txtInputD" *ngIf="editingDescription==true" (blur)="save()"
      #inputControl>
    <br>
    <div class="row row-cols-2">
      <div class="col">
        <label>Current mode: {{event.mode}}</label>
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="editName(3)">Hello world</button>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-success">{{event.date}}</div>